<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="http://localhost:3000/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:3000/css/one.css">
</head>
<body>
    <%- include("../../../partials/header") %>
    <main class="container">
        <div>
            <div class="card">
                <div class="categoria card-header">
                    <h2>Meus Artigos</h2>
                    <a href="/usuario/artigo/new/criar" class="button">Criar novo Artigo</a>
                </div>
            </div>
            <br>
            <div>
                <table  class="table table-bordered">
                    <thead>
                        <th>Id</th>
                        <th>Title</th>
                        <th  class="slug">Slug</th>
                        <th>Categoria</th>
                        <th>Ações</th>
                    </thead>
                    <tbody>
                        <% articles.forEach(article => { %>
                            <% if (article.userId == user.id) { %>
                                <tr>
                                    <td><%= article.id %></td>
                                    <td><%= article.title %></td>
                                    <td  class="slug"><%= article.slug %></td>
                                    <td><%= article.category.title %></td>
                                    <td>
                                        <a href="/usuario/artigo/editar/<%= article.id %>" class="edita btn btn-warning">Editar</a> 
    
                                        <form action="/artigo/delete" method="post" onsubmit="confirmDelete(event, this)">
    
                                            <input type="hidden" name="id" value="<%= article.id %>">
    
                                            <button class="btn btn-danger" style="text-decoration: none;">Deletar</button>
                                        </form>
                                    </td>
                                </tr>
                            <% } %>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

<script src="/js/bootstrap.min.js"></script>

<script>
    function confirmDelete(event, form) {
        event.preventDefault();
        let decision = confirm("Você quer deletar esta categoria")

        if (decision) {
            form.submit();
        } else {
            console.log("Não deletar")
        }
    }
</script>
</html>